<div class="row card text-white bg-primary">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Experience/cava_febrero2021_21.jpg" style="width:100%; border-radius:10px" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Bar/cava_febrero2021_18.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>
<hr />
<<div class="row card text-white bg-primary">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Bar/cava_febrero2021_21.jpg" style="width:100%; border-radius:10px" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Bar/cava_febrero2021_24.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>
<hr />
<<div class="row card text-white bg-primary">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Bar/cava_febrero2021_97.jpg" style="width:100%; border-radius:10px" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Bar/cava_febrero2021_70.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>
<hr />
<<div class="row card text-white bg-primary">
     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
         <img src="~/Content/images/Bar/cava_febrero2021_59.jpg" style="width:100%; border-radius:10px" />
     </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Bar/cava_febrero2021_99tif.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>