<div class="row card text-white bg-primary">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_15.jpg" style="width:100%; border-radius:10px" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_37.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>
<hr />
<<div class="row card text-white bg-primary">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_46.jpg" style="width:100%; border-radius:10px" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_48.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>
<hr />
<<div class="row card text-white bg-primary">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_62.jpg" style="width:100%; border-radius:10px" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_76.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>
<hr />
<<div class="row card text-white bg-primary">
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_8.jpg" style="width:100%; border-radius:10px" />
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 mt-3">
        <img src="~/Content/images/Kitchen/cava_febrero2021_88.jpg" style="width:100%; border-radius:10px" />
    </div>
</div>