@using cava.Models
@model LoginViewModel
@{
    ViewBag.Title = "INICIO DE SESIÓN";
}

<br />
<br />
<br />
<br />
<br />
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="card no-flex pt-3">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
                    <div class="form-group">
                        <label class="white-label font-weight-bold">INICIO DE SESIÓN</label>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "CORREO ELECTRÓNICO" })
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "CONTRASEÑA" })
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-8 col-8">
                    <div class="form-group">
                        <input type="submit" id="btn-login" onclick="return ValidateLoginData()" value="INICIA SESIÓN" class="btn btn-success w-100" />
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-2 col-2"></div>
            </div>
        </div>
    }
</section>
<script src="~/Scripts/login.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
