body {
    padding-top: 0px !important;
    height: 100%;
}


.bg {
    /*background: url(images/background.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    opacity: 0.9;
    width: 100%;
}

.cava-title {
    color: white !important;
    z-index: 1 !important;
    position: relative !important;
    font-size: 50px !important;
    border: initial;
    border-color: white;
    border-radius: 10px;
    vertical-align: top;
}

.custom-container {
    background-color: #2c3e50;
    opacity: 1;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.btn {
    width: 120px
}

.custom-label {
    font-family: Arial !important;
    font-weight: normal;
    font-size: 20px;
    text-align: justify
}

.center-aligned {
    text-align: center !important;
    align-content: center !important;
}

.white-label {
    color: white !important;
    font-weight: 100 !important;
}

.no-flex {
    display: block !important;
}

.bi {
    color: white !important;
    font-size: 1.5rem !important;
}

.custom-hr {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    border-color: white !important;
}

.row.card {
    padding-bottom: 15px !important;
}

.div-table {
    background-color: white !important;
    color: black !important;
    font-family: Neucha,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    padding: 5px !important;
}

.div-table-border {
    border-top: 2px solid #333 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btn-small {
    height: 30px;
    width: 30px;
    color: white !important;
    vertical-align: central !important;
}

.no-max-width {
    max-width: none;
}

.spinner-grow {
    background-color: #2c3e50 !important;
}

.notifyjs-foo-base {
    opacity: 1;
    width: 345px;
    height: 145px;
    background: #2c3e50;
    padding: 5px;
    border-radius: 10px;
}

    .notifyjs-foo-base .title {
        color: white;
        width: 320px;
        margin: 10px 0 0 10px;
        text-align: center;
    }

    .notifyjs-foo-base .buttons {
        width: 70px;
        float: unset;
        font-size: 15px;
        padding: 5px;
        margin: 2px;
    }

    .notifyjs-foo-base button {
        font-size: 15px;
        padding: 5px;
        margin: 2px;
        width: 320px;
    }


.slide-title {
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    font-family: "futura-pt";
    font-size: 20px;
    color: black;
    font-weight: 900;
    letter-spacing: .15em;
}

.container-title {
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    font-family: "futura-pt";
    font-size: 15px;
    color: white;
    letter-spacing: .20em;
}

.slide-sub-title {
    top: 15%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    font-family: "futura-pt";
    font-size: 15px;
    color: black;
    letter-spacing: .10em;
    text-decoration: none;
}

.processing-icon {
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
}

.footer-details {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
}

.transparent5-slide {
    opacity: 0.5;
    transition: opacity 0.8s;
}

.transparent5 {
    opacity: 0.5;
    transition: opacity 0.8s;
}

.transparent8 {
    opacity: 0.8;
    transition: opacity 0.8s;
    background: #2c3e50;
}

img.transparent5:hover {
    opacity: 1.0;
    transition: opacity 0.8s;
    cursor: pointer;
}

div.transparent8:hover {
    opacity: 1.0;
    transition: opacity 0.8s;
    cursor: pointer;
}

.h-200 {
    height: 200px;
}

.h-400 {
    height: 400px;
}

.h-600 {
    height: 600px;
}

.footer-bg {
    background-color: #2c3e50;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .9s;
    transition-property: opacity;
}

    .carousel-fade .carousel-item.active,
    .carousel-fade .carousel-item-next.carousel-item-left,
    .carousel-fade .carousel-item-prev.carousel-item-right {
        opacity: 1;
    }

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

/*@media only screen and (min-width: 2559px) and (max-width:2561px) {
    .device-height {
        height: 900px
    }
}

@media only screen and (min-width: 1440px) and (max-width:2559px) {
    .device-height {
        height: 700px
    }
}

@media only screen and (min-width: 1024px) and (max-width:1440px) {
    .device-height {
        height: 600px
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .device-height {
        height: 600px
    }
}

@media only screen and (min-width: 320px) and (max-width:768px) {
    .device-height {
        height: 500px
    }
}*/

/*
@media only screen and (min-width: 320px) and (max-device-with: 425px) {
    .device-height {
        height: 700px
    }
}*/

/*@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        flex-direction: row;
    }
}*/
