.sprite {
    background: url("v2.0/images/slides/sprite/mysprite.sprite.jpg") no-repeat;
}

html, body {
    margin: 0;
    overflow-x: hidden;
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    height: 100%
}

body {
    height: 100%;
}

.form-control {
    max-width: 500px;
}

#nav-bar-menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}

.footer,
.push {
    height: 50px;
}

.bg {
    /*background: url(images/background.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0D2749 !important;
}

.icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin: 10px;
    cursor: pointer;
    transition: opacity 0.8s;
}

    .icon:hover {
        opacity: 0.5;
        transition: opacity 0.8s;
    }

.navbar {
    width: 100%;
    border-style: none !important;
}

.cava-title {
    color: white !important;
    z-index: 1 !important;
    position: relative !important;
    font-size: 50px !important;
    border: initial;
    border-color: white;
    border-radius: 10px;
    vertical-align: top;
}

.custom-container {
    background-color: #273D61;
    opacity: 1;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.border-1 {
    border: solid !important;
}

.border-1-orange {
    border: solid !important;
    border-color: #DF6A27 !important;
}

.btn {
    width: 120px;
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

input {
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

select {
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

option, optgroup {
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.custom-label {
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    font-size: 20px;
    text-align: justify
}

.center-aligned {
    text-align: center !important;
    align-content: center !important;
}

.white-label {
    color: white !important;
    font-weight: 100 !important;
}

.no-flex {
    display: block !important;
}

.bi {
    color: white !important;
    font-size: 1.5rem !important;
}

.custom-hr {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    border-color: white !important;
}

.row.card {
    padding-bottom: 15px !important;
}

.div-table {
    background-color: white !important;
    color: black !important;
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    padding: 5px !important;
}

.div-table-border {
    border-top: 2px solid #333 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.btn-small {
    height: 30px;
    width: 30px;
    color: white !important;
    vertical-align: central !important;
}

.no-max-width {
    max-width: none;
}

.spinner-grow {
    background-color: #273D61 !important;
}

.notifyjs-foo-base {
    opacity: 1;
    width: 345px;
    height: 145px;
    background: #273D61;
    padding: 5px;
    border-radius: 10px;
}

    .notifyjs-foo-base .title {
        color: white;
        width: 320px;
        margin: 10px 0 0 10px;
        text-align: center;
    }

    .notifyjs-foo-base .buttons {
        width: 70px;
        float: unset;
        font-size: 15px;
        padding: 5px;
        margin: 2px;
    }

    .notifyjs-foo-base button {
        font-size: 15px;
        padding: 5px;
        margin: 2px;
        width: 320px;
    }

.slide-title {
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 20px;
    color: black;
    font-weight: 900;
    letter-spacing: .15em;
}

.slide-sub-title {
    top: 15%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px;
    color: black;
    letter-spacing: .10em;
    text-decoration: none;
}

.container-title {
    top: 40%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
    font-family: "PFDinDisplayPro-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px;
    color: white;
    letter-spacing: .20em;
}

.bg-orange {
    background-color: #DF6A27 !important;
}

.bg-blue {
    background-color: #0D2749 !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
        }

.radius-top-5 {
    border-radius: 5px 5px 0px 0px;
}

.radius-buttom-5 {
    border-radius: 0px 0px 5px 5px;
}

.radius-5 {
    border-radius: 5px;
}

.processing-icon {
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
}

.footer-details {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-align: center;
}

.transparent5-slide {
    opacity: 0.5;
    transition: opacity 0.8s;
}

.transparent5 {
    opacity: 0.5;
    transition: opacity 0.8s;
}

.transparent8 {
    opacity: 0.8;
    transition: opacity 0.8s;
    /*background: #273D61;*/
}

a.menu:hover {
    color: #DF6A27 !important;
}

img.transparent5:hover {
    opacity: 1.0;
    transition: opacity 0.8s;
}

img.logo {
    height: 150px;
    width: 190px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0px;
}

div.transparent8:hover {
    opacity: 1.0;
    transition: opacity 0.8s;
    cursor: pointer;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.h-700 {
    height: 700px;
}

.h-400 {
    height: 400px;
}

.h-200 {
    height: 200px;
}

.h-150 {
    height: 150px;
}

.h-100 {
    height: 100px;
}

.h-dynamic {
    height: 100px;
}

.custom-font-size {
    font-size: 12px !important;
}

.covered {
    object-fit: cover;
}

input#txt-reservation-date {
    pointer-events: auto;
}

@media screen and (min-device-width: 320px) and (max-device-width: 375px) {
    .sprite {
        background: url("v2.0/images/slides/sprite/320/mysprite.sprite.jpg") no-repeat;
    }

    .h-700 {
        height: 215px;
    }

    .device-height {
        margin-top: 93px !important;
    }

    .custom-font-size {
        font-size: 12px !important;
    }

    .slide-title {
        top: 0%;
        font-size: 15px;
    }

    .slide-sub-title {
        top: 15%;
        font-size: 15px;
    }
}

@media screen and (min-device-width: 375px) and (max-device-width: 425px) {
    .sprite {
        background: url("v2.0/images/slides/sprite/375/mysprite.sprite.jpg") no-repeat;
    }

    .h-700 {
        height: 300px
    }

    .custom-font-size {
        font-size: 12px !important;
    }

    .slide-title {
        top: 0%;
        font-size: 15px;
    }

    .slide-sub-title {
        top: 10%;
        font-size: 15px;
    }
}

@media screen and (min-device-width: 425px) and (max-device-width: 768px) {
    .sprite {
        background: url("v2.0/images/slides/sprite/425/mysprite.sprite.jpg") no-repeat;
    }

    .h-700 {
        height: 505px
    }

    .custom-font-size {
        font-size: 12px !important;
    }

    .slide-title {
        top: 0%;
    }

    .slide-sub-title {
        top: 10%;
    }

    .custom-font-size {
        font-size: 18px !important;
    }

    .h-dynamic {
        height: 178px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .sprite {
        background: url("v2.0/images/slides/sprite/768/mysprite.sprite.jpg") no-repeat;
    }

    .h-700 {
        height: 490px
    }

    .slide-title {
        top: 0%;
    }

    .device-height {
        margin-top: 63px !important;
    }

    .custom-font-size {
        font-size: 12px !important;
    }

    .slide-sub-title {
        top: 10%;
    }

    .h-dynamic {
        height: 235px;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    .sprite {
        background: url("v2.0/images/slides/sprite/1024/mysprite.sprite.jpg") center;
    }

    .h-700 {
        height: 500px
    }

    .slide-title {
        top: 0%;
    }

    .slide-sub-title {
        top: 10%;
    }

    .custom-font-size {
        font-size: 15px !important;
    }

    .h-dynamic {
        height: 329px;
    }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 2560px) {
    .sprite {
        background: url("v2.0/images/slides/sprite/1440/mysprite.sprite.jpg") center;
    }

    .h-700 {
        height: 700px
    }

    .slide-title {
        top: 0%;
    }

    .custom-font-size {
        font-size: 15px !important;
    }

    .slide-sub-title {
        top: 10%;
    }

    .h-dynamic {
        height: 430px;
    }
}

@media screen and (min-device-width: 2560px) {
    .sprite {
        background: url("v2.0/images/slides/sprite/2560/mysprite.sprite.jpg") center;
    }

    .h-700 {
        height: 700px
    }

    .slide-title {
        top: 0%;
    }

    .custom-font-size {
        font-size: 15px !important;
    }

    .slide-sub-title {
        top: 10%;
    }

    .h-dynamic {
        height: 430px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}