/*
This is an example of how to use the image sprite in your own CSS files
*/
.mysprite {
	background-image: url('mysprite.sprite.jpg');
	background-repeat: no-repeat;
	display: inline-block;
}
.mysprite.cava_febrero2021_17 {
	width: 624px;
	height: 416px;
	background-position: -10px -10px;
}
.mysprite.cava_febrero2021_18 {
	width: 624px;
	height: 416px;
	background-position: -10px -436px;
}
.mysprite.cava_febrero2021_21 {
	width: 624px;
	height: 416px;
	background-position: -10px -862px;
}
.mysprite.cava_febrero2021_24 {
	width: 624px;
	height: 416px;
	background-position: -10px -1288px;
}
.mysprite.cava_febrero2021_31 {
	width: 624px;
	height: 416px;
	background-position: -10px -1714px;
}
.mysprite.cava_febrero2021_35 {
	width: 624px;
	height: 416px;
	background-position: -10px -2140px;
}
.mysprite.cava_febrero2021_41 {
	width: 624px;
	height: 416px;
	background-position: -10px -2566px;
}
.mysprite.cava_febrero2021_45 {
	width: 624px;
	height: 416px;
	background-position: -10px -2992px;
}
.mysprite.cava_febrero2021_47 {
	width: 624px;
	height: 416px;
	background-position: -10px -3418px;
}
.mysprite.cava_febrero2021_8 {
	width: 624px;
	height: 416px;
	background-position: -10px -3844px;
}
