/*
This is an example of how to use the image sprite in your own CSS files
*/
.mysprite {
	background-image: url('mysprite.sprite.jpg');
	background-repeat: no-repeat;
	display: inline-block;
}
.mysprite.cava_febrero2021_17 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -10px;
}
.mysprite.cava_febrero2021_18 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -1476px;
}
.mysprite.cava_febrero2021_21 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -2942px;
}
.mysprite.cava_febrero2021_24 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -4408px;
}
.mysprite.cava_febrero2021_31 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -5874px;
}
.mysprite.cava_febrero2021_35 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -7340px;
}
.mysprite.cava_febrero2021_41 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -8806px;
}
.mysprite.cava_febrero2021_45 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -10272px;
}
.mysprite.cava_febrero2021_47 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -11738px;
}
.mysprite.cava_febrero2021_8 {
	width: 2184px;
	height: 1456px;
	background-position: -10px -13204px;
}
